.badge{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}

.component-dot{
    position: absolute;
    width: 7px;
    height: 7px;
}